conda==4.3.16
dateparser==1.0.0
debugpy==1.6.0
fastjsonschema==2.15.3
Flask==2.1.2
GitPython==3.1.27
gunicorn==20.1.0
httpcore==0.15.0
httplib2==0.21.0
httpx==0.23.0
ipykernel==6.13.0
ipython==7.34.0
ipython-genutils==0.2.0
jedi==0.18.1
Jinja2==3.1.2
jsonschema==4.5.1
jupyter-client==7.3.1
jupyter-core==4.10.0
Markdown==3.3.7
MarkupSafe==2.1.1
ninja==1.10.2.4
numpy==1.21.6
pandas==1.3.5
pathy==0.6.2
pickleshare==0.7.5
pipreqs==0.4.11
pydirectory==0.1.15
pyparsing==3.0.9
pytest==7.2.0
requests==2.25.0
requests-file==1.5.1
requests-oauthlib==1.3.1
rsa==4.8
scikit-learn==1.0.2
scipy==1.7.3
sklearn==0.0
urllib3==1.26.5
Werkzeug==2.1.2
